<!-- this taught us about ngStyle directive, it allows us to dynamically assign a style -->
<!-- <p [ngStyle]="{backgroundColor: getColor()}"> {{'Server'}} with id {{serverId}} is {{getserverStatus()}} </p>   -->


<!-- this taught us about ngClass directive, it allows us to dynamically assign or remove CSS classes -->
<!-- it has key:value pairs where keys are css class name and values are conditions whether that class should be attached or not -->
<!-- <p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: serverStatus === 'online'}"> {{'Server'}} with id {{serverId}} is {{getserverStatus()}} </p>   -->
